.wrapper {
  margin-bottom: 1rem;
  text-align: left;
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 0.95rem;
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  color: var(--text-color);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.2);
  }

  &::placeholder {
    color: var(--text-light-color);
  }
}
